.dice-item {
  width: 120px;
  height: 120px;
  background-size: contain;
}

.dice-item--1 {
  background-image: url("../../images/dice/dice-1.png");
}

.dice-item--2 {
  background-image: url("../../images/dice/dice-2.png");
}

.dice-item--3 {
  background-image: url("../../images/dice/dice-3.png");
}

.dice-item--4 {
  background-image: url("../../images/dice/dice-4.png");
}

.dice-item--5 {
  background-image: url("../../images/dice/dice-5.png");
}

.dice-item--6 {
  background-image: url("../../images/dice/dice-6.png");
}